# Node
node_modules/
.env
.env.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# WordPress (não sobe o core, só o tema e plugin)
wp-admin/
wp-includes/
wp-*.php
xmlrpc.php
license.txt
readme.html
